.filters		{
	color: white;
	width: 100%;
	height: 70px;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	display: flex;
	align-items: center;
}

#search-btn		{
	font-size: 18px;
	background-color: #FF5A5F;
	color: white;
	height: 48px;
	width: 20%;
	border: 0px;
	border-radius: 4px;
	margin-right: 30px;
	margin-left: auto;
	opacity: 1;
}

#search-btn:hover	{
  	opacity: 0.9;
}

.locations		{
	border-right: 1px solid #DDDDDD;
}

.amenities, .locations		{
	height: 100%;
	width: 25%;
	margin-left: 15px;
	position: relative;
}

h2		{
	font-weight: 600;
	color: #000000;
	margin-bottom: 5px;
	text-align: start;
}
h4		{
	color: rgb(109, 103, 96);
}

ul, li, h4		{
	margin-top: 0;
	font-weight: 400;
	font-size: 14px;
	text-align: start;
}

ul, li		{
	color: #FAFAFA;
	width: 100%;
	border: 1px solid #DDDDDD;
}

.popover   {
	display: none;
	position: absolute;
	background-color: #000000;
	border: 1px solid #DDDDDD;
	z-index: 1;
	padding: 0;
}

.popover ul		{
	list-style: none;
	padding: 0;
	margin: 0;
}

.locations:hover .popover,
.amenities:hover .popover	{
	display: block;
}
